.notfound-container {
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  width: 90%;
}

.notfound-content {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-content h1 {
  margin-left: 25px;
  background-color: #eee;
  width: 80%;
  border-radius: 10px;
  min-height: 150px;
  padding: 25px;
  text-align: lef;

  white-space: wrap;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 551px) {
  .notfound-content {
    flex-direction: column;
  }
}
