.text-input {
  height: 25px;
  border: none;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 2px 2px 10px 0 rgba(1, 1, 1, 0.2);
}

.text-input::-webkit-search-cancel-button {
  position: relative;
  right: 0px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url(http://www.nepneuro.com.br/site/img/fechar.svg) no-repeat
    scroll 98%;
}
.text-input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.1);
}
